<tr>
  <td>
    <div class="container">
        <div class="card container" style="width: 64rem;margin-top: 20px;">
          <img src="https://freepngimg.com/download/rent/35566-3-rent.png" alt="Card image cap" width="130" height="90">
          <div class="row mt-4">
            <div class="col-md-5">
              <img class="card-img-top" src="https://images.pexels.com/photos/5008400/pexels-photo-5008400.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap" width="50" height="250"><br><br>  
              <div class="card container"><br>
                <h5 class="card-title gg colp">Woodgrain Villa (SOFT OPENING)</h5>
                <strong class="gc">Tiny house hosted by Letter May</strong>
                4 guests · 1 bedroom · 3 beds · 1 bath <br><br>
                <strong class="gc">₱3,933 / night</strong> &nbsp; STATUS: Available <br><br>                
              </div>
            </div>
            <div class="col-md-6">
              <b class="gg">About this place</b><br><br>
              <p style="text-align: justify;">Perfect getaway from the busy city! Feel relaxed while looking at the view of Mt. Banahaw from the bedroom. Take a dip in our mini pool while you enjoy the panoramic view of nature.
                You may pitch a tent on our garden and stargaze on the clear sky. Listen to the sound of nature as the silence of your surroundings sooth your ears. <br><br>
                <strong>The space</strong><br>
                -Our villa has 1 br with loft that has mattresses <br>
                -We are located in the mountains so expect nature sounds (crickets at night and birds in the morning)<br>
                -Water source is from natural spring and is limited. Expect natural sediments in pool (small rocks etc.) but rest assured that this is filtered and clean.<br>
                -Expect flying insects at night. To repel, our caretaker can help you create smoke using dried coconut shells. Also, citronella plants surround our villa as preventive from other insects.<br>
                -Since we don't have the dirty kitchen facility yet, you may bring food and we offer cooking services by for 300 php (whole stay) this amount goes directly to the locals <br>
                <br><strong>Guest access</strong><br>
                Upon SLEX Sto. Tomas exit you will pass by All home, SM San Pablo and Puregold. There's also 711, Taza Mia, BigMac and Angel's burger before you enter the barangay. Small sari-sari store is available just ask our caretaker.
                <br><br>
                No rough roads going to the villa so you can drive up easily :)
                <br><br>
                Parking lot is available which can fit up to 3-4 cars</p>
                <br>
                <div class="btn btn-outline-dark colp">
                  Show all 12 amenities
                </div> &nbsp;
                <div class="btn btn-outline-dark colp">
                  <tr>
                    <td>
                      <img class="card-img-top" src="https://static.thenounproject.com/png/2206184-200.png" alt="Card image cap" width="20" height="20">
                    </td>
                    <td>
                       &nbsp; Chat Now
                    </td>
                  </tr>
                </div> 
            </div>
          </div>
          <br>
      </div>
        <br>
        <div class="card container"style="width: 64rem;">   
          <div class="card-body" style="font-size: 14pt;">
            Ratings <br>
            <div class="card container bg-light" style="margin-top: 5px;">
              <tr>
                <td>
                  <ngb-rating [max]="5" [(rate)]="currentRate"  [readonly]="false"></ngb-rating>&nbsp;
                  <pre class="gg"><b class="gg">{{currentRate}}</b> of 5</pre> &nbsp;
                </td>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                  <div style="width: 7rem;margin-top: 30px;" class="btn border-pink">All</div>&nbsp;
                </td>
                <td>
                  <div style="width: 7rem;margin-top: 30px;" class="btn border-dark colp">5 star (1.5k)</div>&nbsp;
                </td>
                <td>
                  <div style="width: 7rem;margin-top: 30px;" class="btn border-dark colp">4 star (1.1)</div>&nbsp;
                </td>
                <td>
                  <div style="width: 7rem;margin-top: 30px;" class="btn border-dark colp">3 star (376)</div>&nbsp;
                </td>
                <td>
                  <div style="width: 7rem;margin-top: 30px;" class="btn border-dark colp">2 star (127)</div>&nbsp;
                </td>
                <td>
                  <div style="width: 7rem;margin-top: 30px;" class="btn border-dark colp">1 star (39)</div>
                </td>
              </tr>
            </div>
            <hr class="my-4">
            <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-2">
                          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                          <p class="text-secondary text-center">15 Minutes Ago</p>
                      </div>
                      <div class="col-md-10">
                          <p>
                              <a class="float-left" href="#"><strong>Glenn Matarlo</strong></a>&nbsp;        
                         </p>
                         <div class="clearfix"></div>
                          <p>Thank you so much for sharing your beautiful home with us. It was indeed a relaxing and perfect stay at Woodgrain Villa.</p>
                          <p>
                              <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>&nbsp;
                              <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                         </p>
                      </div>
                  </div>
                    <div class="card card-inner">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-2">
                                      <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                                      <p class="text-secondary text-center">15 Minutes Ago</p>
                                  </div>
                                  <div class="col-md-10">
                                      <p><a href="#"><strong>Letter May</strong></a>&nbsp;<img src="https://icons-for-free.com/iconfiles/png/512/checkmark+circle+icon-1320195547843144574.png" alt="Card image cap" width="25" height="25"></p>
                                      <p>Thank You! Come again.</p>
                                      <p>
                                          <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>&nbsp;
                                          <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                     </p>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>

          <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                        <p class="text-secondary text-center">15 Minutes Ago</p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Mary Daileen Bagsoling</strong></a>&nbsp;
                       </p>
                       <div class="clearfix"></div>
                        <p>😍😍😍</p>
                        <p>
                            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>&nbsp;
                            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                       </p>
                    </div>
                </div>
            </div>
        </div>

          </div>
      </div>
    </div>
    <br>
  </td>
  <!---->
  <td>
    <p class="gg">Suggested for you</p>
    <div class="card" style="width: 18rem;margin-top: 20px;">
      <div class="container" style="margin-top:20px;">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/5071145/pexels-photo-5071145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title colp">Entire condominium (condo) hosted by Oren</h5>
                    </div>
                </div>
        </div>
        <hr class="my-4">
        <div class="container" >
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title colp">Rental Houses</h5>
                    </div>
                </div>
        </div>
        <hr class="my-4">
        <div class="container" style="margin-bottom: 20px;">
                <div class="card">
                    <img class="card-img-top" src="https://static.mansionglobal.com/production/media/article-images/feac98543da9b62ee03063a6616811b2/large_bangkok_lead.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title colp">Available condominiums</h5>
                    </div>
                </div>
        </div>
    </div>
<br>
  </td>
</tr>
<br>